[user]
	email = 264286985+agoratopia@users.noreply.github.com
	name = agoratopia
[core]
	excludesFile = /Users/zac/.config/git/ignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
